.asiento {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
.disponible {
    background-color: #4caf50;
}
.ocupado {
    background-color: #f44336;
    cursor: not-allowed;
}
.reservado {
    background-color: #ffc107;
    cursor: not-allowed;
}


/* paleta de colores 
#4d82bc

#84b6f4

#c4dafa

#f3c2ea

#f5d7ef */