.asiento {
    width: 30px;
    height: 30px;
    margin: 5px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}
.disponible {
    background-color: #4caf50;
}
.ocupado {
    background-color: #f44336;
    cursor: not-allowed;
}
.reservado {
    background-color: #ffc107;
    cursor: not-allowed;
}

.asiento:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s, opacity 0.2s;
}
.asiento:active {
    transform: scale(0.9);
}

/* paleta de colores 
#4d82bc

#84b6f4

#c4dafa

#f3c2ea

#f5d7ef 

#052852
 #3c326b
#793d87
#c9479f
 #ff58ac


*/